<footer>
  <div class="container">
	<div class="row">
	  <div class="col-xs-12 col-sm-5">
	  	<h3>Our Mission</h3>
	  	<p class="mission">We are on a mission to deepen connections among friends and family through play — we build games and activities that celebrate shared interests and affinities.</p>
	  </div>
	  <div class="col-sm-1"></div>
	  <div class="col-xs-6 col-sm-2">
	  	<h3>Contact</h3>
	  	<p>South Park<br>
		San Francisco, CA<br>
		94107 US</p>

		<p><a href="mailto:hello@pickdoubles.com" class="gold-link">hello@pickdoubles.com</a></p>
	  </div>
	  <div class="col-sm-1"></div>
	  <div class="col-xs-6 col-sm-3">
	  	<h3>Site Links</h3>
	  	<ul>
	  	  <li><a href="https://www.doublecrown.co/" target="_blank" rel="noopener noreferrer">About Us</a></li>
	  	  <li><a href="https://angel.co/double-crown/jobs" target="_blank" rel="noopener noreferrer">Careers</a></li>
	  	  <li><a href="/faq">FAQ</a></li>
	  	  <li><a href="/tos">Terms of Service</a></li>
	  	  <li><a href="/privacy">Privacy Policy</a></li>
	  	</ul>
	  </div>
	</div>
	<div class="row footer-bottom">
	  <div class="col-xs-12">
	  	<p>© Copyright Double Crown Gaming Co. 2019. <span>|</span> Made in San Francisco by <a href="https://www.doublecrown.co/" class="gold-link" target="_blank" rel="noopener noreferrer">Double Crown Gaming Co.</a> <span>|</span> Scores & Stats by <a href="https://sportsdata.io/" target="_blank" rel="noopener noreferrer"><img src="/assets/logo-sportsdataio.png"></a></p>
	  </div>
	</div>
  </div>
</footer>