// Homepage Styles

header#home {
  background: #780030 url('/assets/bkgd-header.png') center center no-repeat;
  background-size: cover;
  font-size: 28px;
  #logo {
    text-align: center;
    margin: 15px 0 0;
    padding-bottom: 0;
    img {
      max-width: 165px;
    }
  }
  h1 {
    font-size: 7vw;
    color: white;
    line-height: 3vw;
    margin-bottom: 25px;
    span {
      position: relative;
      color: #ffffff;
      img {
        position: absolute;
        bottom: 45%;
        left: 70%;
        height: 50%;
      }
    }
  }
  #phone {
    position: relative;
    img {
      max-width: 85%;
      position: absolute;
      top: 0;
      left: 0;
      margin: 0 0 0 10%;
    }
  }
}

@media only screen and (max-width: 655px) {
  header#home {
    h1 {
      text-align: center;
      margin-top: 15px;
      margin-bottom: -15px;
      font-size: 80px;
      line-height: 50px;

    }
    #phone {
      position: relative;
      img {
        max-width: 90%;
        position: relative;
        top: 0;
        left: 0;
        margin: 0 25px -150px;
      }
    }
  }
  #home-download {
    padding-top: 110px;
  }
}

#home-download {
  background: #ffffff;
  text-align: center;
  p {
    font-size: 21px;
  }
  .download-badges {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    li {
      display: inline-block;
      margin: 0 10px 0 0;
      padding-left: 0;
      &:last-child {
        margin-right: 0;
      }
    }
    a {
      display: block;
      width: 200px;
      height: 62px;
      font: 0/0 a;
      text-shadow: none;
      color: transparent;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 200px 62px;
      &.badge-appstore {
        background-image: url(/assets/appstore.png);
      }
      &.badge-googleplay {
        background-image: url(/assets/google-play.png);
      }
    }
  }
}

@media only screen and (min-width: #{$sm-start}) {
  header#home {
    #logo {
      margin: 15px 0 30px;
      text-align: left;
    }
  }
  #home-download {
    text-align: left;
    img {
      max-height: 5vw;
    }
  }
  #home-download {
    .download-badges {
      a {
        width: 110px;
        height: 34px;
        background-size: 110px 34px;
      }
    }
  }
}

@media only screen and (min-width: 835px) {
  #home-download {
    .download-badges {
      a {
        width: 150px;
        height: 46px;
        background-size: 150px 46px;
      }
    }
  }
}

@media only screen and (min-width: #{$md-start}) {
  #home-download {
    .download-badges {
      a {
        width: 175px;
        height: 54px;
        background-size: 175px 54px;
      }
    }
  }
}

#home-features {
  background: #ffffff;
  text-align: center;
  padding: 10% 0 50px;
  .icon-section {
    h2 {
      font-size: 18px;
    }
    p {
      font-size: 14px;
    }
    .icon-wrap {
      height: 60px;
      display: flex;
      justify-content: center; /* align horizontal */
      align-items: center; /* align vertical */
    }
    &:first-child {
      .icon-wrap {
        img {
          height: 100%;
        }
      }
    }
    .icon-wrap {
      img {
        height: 45px;
      }
    }
  }
}

.container {
  @include row();
  .box {
    @include col(12);
    @include col(sm, 6);
    @include col(md, 3);
  }
}

@media only screen and (min-width: #{$lg-start}) {
  header#home {
    h1 {
      font-size: 100px;
      line-height: 70px;
    }
  }
  #home-features {
    padding: 150px 0 50px;
  }
  #home-download {
    .download-badges {
      a {
        width: 200px;
        height: 62px;
        background-size: 200px 62px;
      }
    }
  }
}