<!doctype html>
<html lang="en">
  
  {% include head.html %}

  <body>

    <header id="home">
      <div class="container">
        <div class="row">
          <div class="col-sm-1">
          </div>
          <div id="logo" class="col-xs-12 col-sm-11">
            <img src="/assets/logo-doubles-2x.png">
          </div>
        </div>
        <div class="row">
          <div id="phone" class="col-xs-12 col-sm-7 first-sm">
            <img src="/assets/phone-stack.png">
          </div>
          <div class="col-xs-12 col-sm-5 first-xs">
            <h1>Pick. Chat. <span>Win.<img src="/assets/crown.svg"></span></h1>
          </div>
        </div>
      </div>
    </header>

    <section id="home-download">
      <div class="container">
        <div class="row">
          <div class="col-sm-7">
          </div>
          <div class="col-xs-12 col-sm-5">
            <p>Friendly competition over the sports you love. Available now.</p>
            <div class="row">
              <ul class="download-badges">
                <li><a class="badge-appstore" href="#">App Store</a></li>
                <li><a class="badge-googleplay" href="#">Google Play</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="home-features">
      <div class="container">

          <div class="box icon-section">
            <div class="icon-wrap">
              <img src="/assets/icon-picks.png">
            </div>
            <h2>Make your picks</h2>
            <p>Choose your favorite teams and players, then swipe to predict outcomes.</p>
          </div>
          <div class="box icon-section">
            <div class="icon-wrap">
              <img src="/assets/icon-chat.png">
            </div>
            <h2>Chat with friends</h2>
            <p>Join in the conversation, share links, tweets, articles and photos in the group chat.</p>
          </div>
          <div class="box icon-section">
            <div class="icon-wrap">
              <img src="/assets/icon-results.png">
            </div>
            <h2>Compare results</h2>
            <p>Get LIVE updates on your picks and see how you stack up against your friends.</p>
          </div>
          <div class="box icon-section">
            <div class="icon-wrap">
              <img src="/assets/icon-crown.png">
            </div>
            <h2>Win the crown!</h2>
            <p>Keep track of who’s winning the week and who’s wearing the crown.</p>
          </div>

      </div>
    </section>

    {% include footer.html %}

  </body>
</html>