<!doctype html>
<html lang="en">
  
  {% include head.html %}

  <body id="faq">

    <header>
      <img src="/assets/logo-doubles-single.png">
      <p>FAQs</p>
    </header>

    <div class="container">
      <div class="col-sm-2">
      </div>

      <div class="col-xs-12 col-sm-8">

        <h2>ADDING NEW CONTENT</h2>

        <div class="wrap-collabsible">
          <input id="collapsible1" class="toggle" type="checkbox">
          <label for="collapsible1" class="lbl-toggle">How do I add new content channels to a group?</label>
          <div class="collapsible-content">
            <div class="content-inner">
              <p>If you are the host of the group, follow these steps:</p>
              <p>1. Tap top right icon (looks like three people standing together) when you're in your group to open right menu with Interests and Settings for the group</p>
              <p>2. Tap the sports leagues you'd like to add to your group, choosing highlights and/or up to 3 teams to follow per league</p>
              <p>3. Once you've added all the leagues you want, tap "Save" at the bottom of the screen</p>
              <p>NOTE: It may take up to 1 min for the new picks to appear.</p>
              <p>If you are not the host of the group, ask the host to add this content. You can also create a new group and add this content.</p>
            </div>
          </div>
        </div>

        <div class="wrap-collabsible">
          <input id="collapsible2" class="toggle" type="checkbox">
          <label for="collapsible2" class="lbl-toggle">How do I create a new group?</label>
          <div class="collapsible-content">
            <div class="content-inner">
              <p>You can add as many new groups as you'd like.</p>
              <p>1. Tap top right icon (looks like three people standing together) when you're in your group to open right menu with Interests and Settings for the group</p>
              <p>2. Tap the "Create Group" button</p>
              <p>3. Choose content channels</p>
              <p>4. Name your new group</p>
              <p>5. Invite friends to play along</p>
              <p>NOTE: It may take up to 1 min for the new picks to appear.</p>
            </div>
          </div>
        </div>

        <h2>General</h2>

        <div class="wrap-collabsible">
          <input id="collapsible19" class="toggle" type="checkbox">
          <label for="collapsible19" class="lbl-toggle">Is the Doubles for iPhone app free to download?</label>
          <div class="collapsible-content">
            <div class="content-inner">
              <p>Yes, absolutely.</p>
            </div>
          </div>
        </div>

        <div class="wrap-collabsible">
          <input id="collapsible20" class="toggle" type="checkbox">
          <label for="collapsible20" class="lbl-toggle">How do I download the Doubles for iPhone app?</label>
          <div class="collapsible-content">
            <div class="content-inner">
              <p>Go to the App Store to download the latest Doubles for iPhone app.</p>
            </div>
          </div>
        </div>

        <div class="wrap-collabsible">
          <input id="collapsible3" class="toggle" type="checkbox">
          <label for="collapsible3" class="lbl-toggle">Is the Doubles for Android app free to download?</label>
          <div class="collapsible-content">
            <div class="content-inner">
              <p>It will be once we release on Android, which will be coming soon.</p>
            </div>
          </div>
        </div>

        <div class="wrap-collabsible">
          <input id="collapsible4" class="toggle" type="checkbox">
          <label for="collapsible4" class="lbl-toggle">What is Doubles Code of Conduct?</label>
          <div class="collapsible-content">
            <div class="content-inner">
              <ul>
                <li>Don’t do anything illegal.</li>
                <li>Don’t engage in any activity that exploits, harms, or threatens to harm people.</li>
                <li>Don’t send spam. Spam is unwanted or unsolicited content or messages.</li>
                <li>Don’t use Doubles to share inappropriate content or material.</li>
                <li>Don’t engage in activity that is fraudulent, false or misleading.</li>
                <li>Don’t circumvent any restrictions on access to or availability of Doubles.</li>
                <li>Don’t engage in activity that is harmful to you, Doubles, or others.</li>
                <li>Don’t engage in activity that violates the privacy of others.</li>
                <li>Don’t help others break these rules.</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="wrap-collabsible">
          <input id="collapsible5" class="toggle" type="checkbox">
          <label for="collapsible5" class="lbl-toggle">What kind of notifications will I be receiving?</label>
          <div class="collapsible-content">
            <div class="content-inner">
              <p>We have 4 categories of notifications:</p>
              <ul>
                <li><u>Picks available:</u> letting you know Picks are available to be taken</li>
                <li><u>1 Hr Warnings:</u> letting you know that the event is going to start in ~1 hour and you haven’t made any Picks</li>
                <li><u>Post-Game Results:</u> letting you know how you did on a game that just ended</li>
                <li><u>Daily/Weekly Recap:</u> letting you know how you did the previous day (or week)</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="wrap-collabsible">
          <input id="collapsible6" class="toggle" type="checkbox">
          <label for="collapsible6" class="lbl-toggle">How do I manage notifications?</label>
          <div class="collapsible-content">
            <div class="content-inner">
              <p>Follow these steps to manage notifications:</p>
              <ul>
                <li>Click on the top left corner icon (three lines - looks like a hamburger)</li>
                <li>Click on "Manage Notifications"</li>
                <li>Toggle your notification preferences on and off</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="wrap-collabsible">
          <input id="collapsible7" class="toggle" type="checkbox">
          <label for="collapsible7" class="lbl-toggle">How do I edit my profile?</label>
          <div class="collapsible-content">
            <div class="content-inner">
              <p>Follow these steps to edit your profile:</p>
              <ul>
                <li>Click on the top left corner icon (looks like a hamburger)</li>
                <li>Click on your Handle or the pencil icon next to your Handle</li>
                <li>Click on Handle, First Name or Last Name and edit as you see fit</li>
              </ul>
              <p>Click Done in the top right hand corner when finished</p>
            </div>
          </div>
        </div>

        <h2>Game</h2>

        <div class="wrap-collabsible">
          <input id="collapsible8" class="toggle" type="checkbox">
          <label for="collapsible8" class="lbl-toggle">How do I play Doubles?</label>
          <div class="collapsible-content">
            <div class="content-inner">
              <ul>
                <li>Doubles is a prediction games you play with your friends and family.</li>
                <li>Doubles serves you Premise Cards on the morning of events that allow you to predict outcomes of live events taking place at a later time.</li>
                <li>Swipe Premise Cards up (↑) or down (↓) to make (or change) picks. Picks are locked when events start.</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="wrap-collabsible">
          <input id="collapsible9" class="toggle" type="checkbox">
          <label for="collapsible9" class="lbl-toggle">How does scoring work on Doubles?</label>
          <div class="collapsible-content">
            <div class="content-inner">
              <ul>
                <li>+2 For each winning pick</li>
                <li>+1 For each tie</li>
                <li>-2 For each losing pick</li>
              </ul>
              <p>--------------------------------------</p>
              <ul>
                <li>x2 DOUBLE your score for any event when you make 5 or more picks without a loss</li>
              </ul>
              <p>--------------------------------------</p>
              <ul>
                <li>Leaderboard is reset weekly</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="wrap-collabsible">
          <input id="collapsible10" class="toggle" type="checkbox">
          <label for="collapsible10" class="lbl-toggle">When are Picks published?</label>
          <div class="collapsible-content">
            <div class="content-inner">
              <p>We typically publish Picks the morning of an event, but sometimes the day before.</p>
            </div>
          </div>
        </div>

        <div class="wrap-collabsible">
          <input id="collapsible11" class="toggle" type="checkbox">
          <label for="collapsible11" class="lbl-toggle">How do I win at Doubles?</label>
          <div class="collapsible-content">
            <div class="content-inner">
              <p>The user with the most points in your group at the end of the week wins the Crown.</p>
            </div>
          </div>
        </div>

        <div class="wrap-collabsible">
          <input id="collapsible12" class="toggle" type="checkbox">
          <label for="collapsible12" class="lbl-toggle">What do I get if I win Doubles?</label>
          <div class="collapsible-content">
            <div class="content-inner">
              <p>You win the weekly Crown, bragging rights and the admiration/envy of all your friends.</p>
            </div>
          </div>
        </div>

        <div class="wrap-collabsible">
          <input id="collapsible13" class="toggle" type="checkbox">
          <label for="collapsible13" class="lbl-toggle">How is a Double calculated?</label>
          <div class="collapsible-content">
            <div class="content-inner">
              <p>Your score is DOUBLED for any event where you pick 5 (or more) Winners without a Loss.</p>
            </div>
          </div>
        </div>

        <div class="wrap-collabsible">
          <input id="collapsible14" class="toggle" type="checkbox">
          <label for="collapsible14" class="lbl-toggle">Can I bet and/or gamble on Doubles?</label>
          <div class="collapsible-content">
            <div class="content-inner">
              <p>There is no betting or gambling for money on Doubles.</p>
            </div>
          </div>
        </div>

        <div class="wrap-collabsible">
          <input id="collapsible15" class="toggle" type="checkbox">
          <label for="collapsible15" class="lbl-toggle">How far back does my score go?</label>
          <div class="collapsible-content">
            <div class="content-inner">
              <p>At any time, you can view the current week's score as well as the prior week's score.</p>
            </div>
          </div>
        </div>

        <div class="wrap-collabsible">
          <input id="collapsible16" class="toggle" type="checkbox">
          <label for="collapsible16" class="lbl-toggle">What events are available on Doubles?</label>
          <div class="collapsible-content">
            <div class="content-inner">
              <p>Right now, EPL, MLB, NBA, NHL and the NFL. More to come though...much more.</p>
            </div>
          </div>
        </div>

        <div class="wrap-collabsible">
          <input id="collapsible17" class="toggle" type="checkbox">
          <label for="collapsible17" class="lbl-toggle">Can I see how I’m doing against the world?</label>
          <div class="collapsible-content">
            <div class="content-inner">
              <p>Doubles is about playing games and chatting with your friends. Viewing how you’re doing against the world is not currently available.</p>
            </div>
          </div>
        </div>

        <div class="wrap-collabsible">
          <input id="collapsible18" class="toggle" type="checkbox">
          <label for="collapsible18" class="lbl-toggle">What happens when an event is postponed or cancelled?</label>
          <div class="collapsible-content">
            <div class="content-inner">
              <p>We delete the Picks for that event and exclude it from your score.</p>
            </div>
          </div>
        </div>

        <h2>Group</h2>

        <div class="wrap-collabsible">
          <input id="collapsible21" class="toggle" type="checkbox">
          <label for="collapsible21" class="lbl-toggle">How many groups can I be a part of?</label>
          <div class="collapsible-content">
            <div class="content-inner">
              <p>Unlimited - we encourage you to create groups with others who share similar interests and enjoy talking about them.</p>
            </div>
          </div>
        </div>

        <div class="wrap-collabsible">
          <input id="collapsible22" class="toggle" type="checkbox">
          <label for="collapsible22" class="lbl-toggle">How many people can be in a group?</label>
          <div class="collapsible-content">
            <div class="content-inner">
              <p>Up to 6 people. (But email us if you want to add more to a group.)</p>
            </div>
          </div>
        </div>

        <div class="wrap-collabsible">
          <input id="collapsible23" class="toggle" type="checkbox">
          <label for="collapsible23" class="lbl-toggle">How do I leave a group?</label>
          <div class="collapsible-content">
            <div class="content-inner">
              <ul>
                <li>Tap top left icon (to open left menu)</li>
                <li>Tap "Edit" next to "Your Groups"</li>
                <li>Tap "Leave Group" under the group name</li>
                <li>Tap "Done"</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="wrap-collabsible">
          <input id="collapsible24" class="toggle" type="checkbox">
          <label for="collapsible24" class="lbl-toggle">How do I create/host a group?</label>
          <div class="collapsible-content">
            <div class="content-inner">
              <p>1. Tap top left icon (to open left menu)</p>
              <p>2. Tap "Create New Group"</p>
              <p>3. Tap the sport(s) you'd like to play</p>
              <p>4. Tap "Done"</p>
              <p>5. Name and create your group then, invite your friends!</p>
            </div>
          </div>
        </div>

        <div class="wrap-collabsible">
          <input id="collapsible25" class="toggle" type="checkbox">
          <label for="collapsible25" class="lbl-toggle">Can I transfer group management to another user?</label>
          <div class="collapsible-content">
            <div class="content-inner">
              <p>Please email a request to <a href="mailto:support@pickdoubles.com" target="_blank" rel="noopener noreferrer">support@pickdoubles.com</a>.</p>
            </div>
          </div>
        </div>

        <div class="wrap-collabsible">
          <input id="collapsible26" class="toggle" type="checkbox">
          <label for="collapsible26" class="lbl-toggle">How do I add members to an existing group?</label>
          <div class="collapsible-content">
            <div class="content-inner">
              <p>If you are the host of the group, follow these steps.</p>
              <p>1. Tap the Add User icon in the Leaderbar (or Leaderboard) on the right of the screen.</p>
              <p>2. Tap the "Invite Now" button at the bottom of the screen.</p>
              <p>3. Send a Magic Invitation Link via text, email or other platforms. You can also copy the link.</p>
              <p>4. Tap "Done"</p>
            </div>
          </div>
        </div>

        <h2>Messaging</h2>

        <div class="wrap-collabsible">
          <input id="collapsible27" class="toggle" type="checkbox">
          <label for="collapsible27" class="lbl-toggle">What can I put into messaging?</label>
          <div class="collapsible-content">
            <div class="content-inner">
              <p>Text, photos, bitmojis...a bunch of stuff. Please just abide by our Code of Conduct and enjoy yourself.</p>
            </div>
          </div>
        </div>

        <h2>Privacy</h2>

        <div class="wrap-collabsible">
          <input id="collapsible28" class="toggle" type="checkbox">
          <label for="collapsible28" class="lbl-toggle">What of my information is public?</label>
          <div class="collapsible-content">
            <div class="content-inner">
              <p>Participants in your groups will see your name, handle and avatar. We want Doubles to be a safe place for private conversation and we do not share or sell our users' information.</p>
            </div>
          </div>
        </div>

        <h2>Other</h2>

        <div class="wrap-collabsible">
          <input id="collapsible29" class="toggle" type="checkbox">
          <label for="collapsible29" class="lbl-toggle">How do I change my phone number?</label>
          <div class="collapsible-content">
            <div class="content-inner">
              <p>Please email a request to <a href="mailto:support@pickdoubles.com" target="_blank" rel="noopener noreferrer">support@pickdoubles.com</a>.</p>
            </div>
          </div>
        </div>

        <div class="wrap-collabsible">
          <input id="collapsible30" class="toggle" type="checkbox">
          <label for="collapsible30" class="lbl-toggle">Where should I send feedback?</label>
          <div class="collapsible-content">
            <div class="content-inner">
              <p>We love hearing what we can do to make Doubles a better experience. Please email any ideas or suggestions to <a href="mailto:feedback@pickdoubles.com" target="_blank" rel="noopener noreferrer">feedback@pickdoubles.com</a></p>
            </div>
          </div>
        </div>

        <div class="wrap-collabsible">
          <input id="collapsible31" class="toggle" type="checkbox">
          <label for="collapsible31" class="lbl-toggle">What should I do if I encounter an issue not listed above?</label>
          <div class="collapsible-content">
            <div class="content-inner">
              <p>First, check to see if you are running our current version and, if not, perform an update. Getting the latest version often solves common issues. If updating doesn’t resolve things, and if you don’t see an answer for your issue in the list above, please email <a href="mailto:support@pickdoubles.com" target="_blank" rel="noopener noreferrer">support@pickdoubles.com</a> with a description of the behavior.</p>
              <p>Please include the following information in your email:</p>
              <ul>
                <li>Type of device</li>
                <li>OS version</li>
                <li>Steps to reproduce the problem</li>
              </ul>
            </div>
          </div>
        </div>

        <p><b>Thanks for playing Doubles! Any other questions, please email us at <a href="mailto:support@pickdoubles.com" target="_blank" rel="noopener noreferrer">support@pickdoubles.com</a></b></p>


      </div>
      <div class="col-sm-2">
      </div>
    </div>

  </body>
</html>